<div class="progress" ng-show="env.loading==true">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0"
         aria-valuemax="100" style="width: 100%">
        <span class="sr-only">45% Complete</span>
    </div>
</div>
<div class="row" ng-show="env.loading==false">

    <div class="header">

        <ul class="breadcrumb">
            <li><a href="#" ui-sref="index" translate>Home</a></li>
            <li>
                <a ui-sref="race" translate>Course</a>
            </li>

            <li class="active" translate ng-show="env.post_id==undefined">Add Course</li>
            <li class="active" translate ng-show="env.post_id!=undefined">Edit Course</li>
        </ul>
        <h1 class="page-title" translate ng-show="env.post_id==undefined">Add Course</h1>

        <h1 class="page-title" translate ng-show="env.post_id!=undefined">Edit Course</h1>

    </div>

    <div class="main-content">

        <div class="alert alert-danger" role="alert" ng-show="env.error!=null">{{env.error}}</div>

        <div >
            <form name="form">
                <div class="col-md-6">

                    <div class="form-group" ng-class="{ 'has-error': form.data.$invalid  }">
                        <label translate>Date</label>

                        <div class="dropdown">
                            <a class="dropdown-toggle my-toggle-select" id="dropdown1" role="button"
                               data-toggle="dropdown" data-target="#" href="">
                                <div class="input-append">

                                    <input type="text" required class="form-control input-large" name="data"
                                           data-ng-model="env.model.data"></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="env.model.data"
                                                data-datetimepicker-config="{ dropdownSelector: '#dropdown1', minView:'hour' }"></datetimepicker>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': form.country.$invalid  }">
                        <label class="fg_col1" translate>Country</label>

                        <div class="fg_col2">
                            <select name="country"
                                    ng-options="country as country.get(user.language) for country in env.country|orderObjectBy:user.language"
                                    class="form-control" required ng-model="env.model.country">
                                <option value="" translate>Select Country</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': form.zone.$invalid  }">
                        <label class="fg_col1" translate>Zone</label>

                        <div class="fg_col2">
                            <select name="zone"
                                    ng-disabled="!env.model.country"
                                    ng-options="zone as zone.get(user.language) for zone in env.model.country.get('zones')|orderObjectBy:user.language"
                                    class="form-control" required ng-model="env.model.zone">
                                <option value="" translate>Select Zone</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': form.poblacio.$invalid  }">
                        <label class="fg_col1" translate>Poblacio</label>

                        <div class="fg_col2">
                            <input type="text" name="poblacio" ng-model="env.model.poblacio" class="form-control"
                                   required>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': form.circuit.$invalid  }">
                        <label class="fg_col1" translate>Circuit</label>

                        <div class="fg_col2">
                            <parse-select ng-model="env.model.circuit" options="env.circuits" title="nom"
                                          default="{{'Select Circuit'|translate}}"></parse-select>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': form.categoria.$invalid  }">
                        <label class="fg_col1" translate>Category</label>

                        <div class="fg_col2">
                            <select name="categoria" class="form-control" required ng-model="env.model.categoria">
                                <option value="" translate>Select Category</option>
                                <option value="T" translate>Trail</option>
                                <option value="UT" translate>Ultra trail</option>
                                <option value="KV" translate>Vertical Kilometer</option>
                                <option value="MM" translate>Mountain Marathon</option>
                                <option value="R" translate>Road</option>
                                <option value="RM" translate>Road Marathon</option>
                                <option value="10K" translate>Road 10 km</option>
                                <option value="RHM" translate>Road Half Marathon</option>
                                <option value="ROAD" translate>Road cycling</option>
                                <option value="BTT" translate>Mountain biking</option>
                                <option value="TRI" translate>Triathlon</option>
                                <option value="SKI" translate>Ski</option>
                                <option value="O" translate>Orienteering</option>
                                <option value="RC" translate>Trainning with RCurto</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group" ng-class="{ 'has-error': form.desnivell.$invalid  }">
                        <label class="fg_col1" translate>Desnivell</label>

                        <div class="fg_col2">
                            <input type="number" name="desnivell" ng-model="env.model.desnivell" class="form-control"
                                   required>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': form.distancia.$invalid  }">
                        <label class="fg_col1 translate">Distancia</label>

                        <div class="fg_col2">
                            <input type="number" name="distancia" ng-model="env.model.distancia" class="form-control"
                                   required>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.nom.$invalid  }">
                        <label class="fg_col1" translate>Nom</label>

                        <div class="fg_col2">
                            <input type="text" name="nom" ng-model="env.model.nom" class="form-control"
                                   required>
                        </div>
                    </div>


                    <input type="button"
                           ng-disabled="env.saving==true || form.$invalid"
                           ng-click="save( env.model )" value="{{'Save'|translate}}" name="save"
                           class="btn btn-default">
                    <a class="btn btn-default" href="#/races" role="button" translate>Cancel</a>

                </div>

            </form>
        </div>
    </div>
</div>